* {
    margin: 0;
    font-family: "winky sans", sans-serif;
}

body {
    background-color: #f0d09a;
    color: #f0d09a;
}

.logo {
    font-size: 26px;
    color: white;
    font-weight: 600;
}

span {
    color: #f0d09a;
}

nav,
ul {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 4px 0;
    margin: 0 4px;
    align-items: center;
}

ul {
    list-style-type: none;
    column-gap: 1rem;
}

.hero_section {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 0;
    width: 60%;
    color: #292420;
    flex-direction: column;
}

.hero_section,
h2 {
    font-size: 78px;
}

.hero_section,
p {
    font-size: 20px;
}

a {
    font-style: italic;
}

.container {
    background-color: #2C2622;
    color: #fbf1e1
}

.featured_work {
    max-width: 1500px;
    margin: 0 auto;
}

.card_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 24px;
}

.card {
    height: 252px;
    width: 440px;
    padding: 24px;
    background-color: #292420;
    border: 2px solid white;
    overflow: hidden;
}

.card img {
    width: 100%;
    object-fit: fill;
    border: 2px solid white;
}

.container_contact {
    max-width: 1416px;
    margin: auto;
    background-color: #fbf1e1;
    color: #292420;
}

.contact {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 12px;
}